DATABASE_URL=postgresql+psycopg://kunal_root:root@localhost:5432/concert
SECRET_KEY=f3e840ff338026911c2bc77e5a
JWT_SECRET_KEY=e1adb4270bd1cde2654fb9
REDIS_URL=
SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
TELEGRAM_TOKEN=
WHATSAPP_TOKEN=
GOOGLE_MAP_KEY=
EVENT_API_KEY=